@import 'src/scss/vars';
@import 'src/scss/mixins';

.form {       
    
    &__title {
        @include text ($ff, 500, 14px, 20px, $dark); 
        margin-bottom: 8px;       
    }

    &__inner {
        position: relative; 
        display: flex;
        align-items: center;
        margin-bottom: 20px; 
    }

    &__input {
        border: 1px solid $border;
        border-radius: 8px;
        padding: 10px 14px;
        width: 100%;
        
        // position: relative;
        &::placeholder{
            @include text ($ff, 400, 16px, 24px, $dark-grey);
        }
    }
    &__icon {        
        display: block;
        position: absolute;
        right: 14px;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
    }    
}
