@import 'src/scss/vars';
@import 'src/scss/mixins';

.login {
    max-width: 345px;
    justify-self: center;
    align-self: center;

    &__title{
        @include text ($ff, 700, 40px, 48px, $dark);        
        letter-spacing: 0.01em;
        text-transform: capitalize;   
        margin-bottom: 8px;
    }

    &__subtitle{
        @include text ($ff, 500, 16px, 24px, $dark-grey);        
        margin-bottom: 56px;
    }
}

.remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.forgot {
    @include text ($ff, 500, 14px, 20px, $purple);
}

.sign {    
    text-align: center;
    margin-top: 20px;
    a{
        @include text ($ff, 400, 14px, 24px, $dark); 
    }        
    span {
        color: $purple;
    }
    
}