@import 'src/scss/vars';
@import 'src/scss/mixins';

.login {
    max-width: 345px;
    justify-self: center;
    align-self: center;
    @include tablet{         
        margin-bottom: 90px;              
    }
    @include tablet-small{ 
        margin-bottom: 72px; 
        position: relative;      
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 134px;
            height: 5px;
            background: rgba(52, 64, 84, 0.85);
            border-radius: 2.5px;
            bottom: -82px;
            left: 50%;
            transform: translateX(-50%)
        }             
    }    

    &__title{
        @include text ($ff, 700, 40px, 48px, $dark);        
        letter-spacing: 0.01em;
        text-transform: capitalize;   
        margin-bottom: 8px;
        @include tablet-small{        
            @include text ($ff, 700, 32px, 39px, $dark);              
        }
    }

    &__subtitle{
        @include text ($ff, 500, 16px, 24px, $dark-grey);        
        margin-bottom: 56px;
        @include tablet-small{        
            @include text ($ff, 500, 14px, 24px, $dark-grey);              
        }
    }
}

.remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.forgot {
    @include text ($ff, 500, 14px, 20px, $purple);
}

.sign {    
    text-align: center;
    margin-top: 20px;
    a{
        @include text ($ff, 400, 14px, 24px, $dark); 
    }        
    span {
        color: $purple;
    }
    
}